body {
    background-color: #F6F3E8;

}

.banner {
    text-align: center;
}

.banner-image {
    width: 100%;
    max-width: 500px;
    /* Largura máxima do banner */

}

.star {
    text-align: center;
}

.star-image {
    width: 100%;
    max-width: 150px;
    margin: 40px 0 60px;
}

.sun {
    text-align: center;
}

.sun-image {
    width: 50%;
    max-width: 70px;
    padding: 0 0 30px 0;
}

h2 {
    text-align: center;
}

.intro {
    text-align: justify;
    padding: 40px 20px 0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    margin: 16px 3px 0 3px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background: #f9c999;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maps {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containercard {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: #ffffff;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #202020;
    /* Definindo o background roxo */
    color: rgb(247, 245, 245);
    /* Definindo a cor do texto para branco */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Responsividade para telas menores */
    @media (max-width: 768px) {
        width: calc(50% - 20px);
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-title {
    margin-top: 0;
}

.card-button {
    background-color: #FFBE7E;
    color: #1f1c1c;
    border: none;
    padding: 5px 0px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.card-button:hover {
    background-color: #b58a5e;
}

.dicas {
    text-align: justify;
    font-size: 14px;
    padding: 40px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; 
}

.dicas h2{
    padding: 40 0 20PX 0px;
    margin: 0;
    font-size: 24px;
    
}

.dicas p{
    padding: 0 40px 20px 40px;
}

.dicas img {
    width: 70%;
    padding: 30px 0 0 50px;
}

.sign {
    font-size: 14px;
    padding: 60px 10px 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.dicas-content {
    text-align: center;
}

a {
    text-decoration: none;
}

.maps{
    background-color:#ffffff ;
}
.maps h2 {
    padding: 10px;
    
}

.maps iframe {
    padding: 40px;
}

.maps P{
    font-size: 14PX;
    text-align: center;
}

/* Estilos para o rodapé */
.footer {
    background-color: #1f1f1f;
    color: #211e1b;
    text-align: center;
    width: 100%;
}

.aviso{
    font-style: italic;
    font-size: 16px;
    text-align: justify;
    padding: 0px 20px;
}
.presenteado{
    background-color: #898784;
}